<div id="systemTabController" ng-controller="systemTabController">
    <h4>{{test}}</h4>
<!--    <ul>
        <li ng-repeat="content in contents">
            {{content.key}} : {{content.value}}
        </li>
    </ul>-->
    <!--            <div ng-bind-html-unsafe="{{getContent(tab.name)}}">
                    <h4>Host Name: {{system.hostName}}</h4>
                    <h4>OS Name: {{system.osName}}</h4>
                    <h4>Product: {{system.product}}</h4>
                    <h4>Vendor: {{system.vendor}}</h4>
                    <h4>Version: {{system.version}}</h4>
                </div>-->
</div>
