.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
bin
build
target
out
*.iml
*.ipr
*.iws
test-output
Scratch.java
ScratchTest.java
test-results
test-tmp
*.class
mods
node_modules
dist
.tmp
.sass-cache
.bowerrc
.editorconfig
.jshintrc
.travis.yml
Gruntfile.js
bower_components
karma-e2e.conf.js
karma.conf.js
package.json
classes
