<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/angular-grid/ng-grid.min.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <style type="text/css">
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            width:100%;
            height:100%;
            border:none;
        }
    </style>
</head>
<body>
<div id="main-app-container" class="main-application loading-spinner">
    <div id="initializing-panel"></div>
    <div class="content-outer">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a ng-href="#">Home</a></li>
                <li><a ng-href="#">About</a></li>
                <li><a ng-href="#">Contact</a></li>
                <li><a href="/auth/logout" target="_self">Logout</a></li>
            </ul>
            <h3 class="text-muted">Studio Angular Testing</h3>
        </div>

        <div ng-controller="loginController" id="login-container">
            <!-- SHOW ERROR/SUCCESS MESSAGES -->
            <div id="messages" class="well" ng-show="message">{{ message }}</div>

            <!-- FORM -->
            <form ng-submit="login()">
                <!-- NAME -->
                <div id="name-group" class="form-group">
                    <label>Username</label>
                    <input type="text" name="name" class="form-control" ng-model="formData.username"
                           placeholder="Username">
                    <span class="help-block"></span>
                </div>

                <!-- PASSWORD -->
                <div id="password-group" class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" ng-model="formData.password"
                           placeholder="Password">
                    <span class="help-block"></span>
                </div>

                <!-- SUBMIT BUTTON -->
                <button type="submit" class="btn btn-success btn-lg btn-block">
                    <span class="glyphicon glyphicon-flash"></span> Submit!
                </button>
            </form>

            <!-- SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED -->
            <pre>
                {{ formData }}
            </pre>
        </div>
    </div>
</div>
<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbuild -->
<script src="scripts/stacktrace.js"></script>
<script src="scripts/underscore-1.60.min.js"></script>
<script src="scripts/http-auth-interceptor.js"></script>
<script src="index.js"></script>
</body>
</html>
