<!-- Created by samueldoyle -->
<div id="informationTabController" ng-controller="informationTabController">
    <h4>System Information</h4>
    <hr>
    <div class="gridStyle" ng-grid="gridOptions">
    </div>
    <div class="btn-group">
        <button type="button" ng-click="doReboot()" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
            Reboot
        </button>
        <button type="button" ng-click="doShutdown()" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
            Shutdown
        </button>
    </div>
</div>
